<!DOCTYPE html> 
<html>
	<head>
		<title>Nowick Admin Template</title>
		<script type="text/javascript" src="/js/jquery/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery/namespace.js"></script>
		<script type="text/javascript" src="/js/jquery/underscore-1.4.4-min.js"></script>
		<script type="text/javascript" src="/js/jquery/backbone-0.9.10-min.js"></script>

		<script type="text/javascript" src="/js/nowick/nowicklogin.js"></script>
		
		<script type="text/javascript">
			var redirectURL = "${redirectURL}";
		</script>
	</head>
	<body>
		<div id="nowickLogin">
			<div id="errorMsg" class="box-error-message"></div>
			<p class="loginLabel">Username</p>
			<input id="username" type="text" name="username" class="login-textbox" ></input>
		
			<p class="loginLabel">Password</p>
			<input id="password" type="password" name="password" class="login-textbox"></input>

			<button id="loginSubmit" class="login-submit">Login</button>
		</div>
	</body>
</html>