#macro(nowick)
	#if($user)
		<div>Logged In</div>
	#else
		<div>Logged Out</div>
	#end
#end

#macro(nowickcontentpanel)
<div class="nowickContent">
</div>
#end

#macro(nowickfootermenu)
<div id="nowickfooter">
	<div id="nowickfooter-expandclose">
	</div>
	<div id="nowickfooter-menu">
		<button class="footer-icon">Create Page</button>
		<button class="footer-icon">Edit Page</button>
	</div>
</div>
#end

#macro(nowickscript)
	<script type="text/javascript">
		var userId = ${userid};
	</script>
#end