<!DOCTYPE html> 
<html>
	<head>
		<title>Nowick Base Template</title>
		<script type="text/javascript" src="/js/jquery/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/js/jquery/namespace.js"></script>
		<script type="text/javascript" src="/js/jquery/underscore-1.4.4-min.js"></script>
		<script type="text/javascript" src="/js/jquery/backbone-0.9.10-min.js"></script>
		<script type="text/javascript" src="/js/nowick/nowickeditor.js"></script>
		<script type="text/javascript" src="/js/nowick/nowickfooter.js"></script>
		
		<link rel="stylesheet" type="text/css" href="${context}/css/nowick.footer.css" /> 
	</head>
	<body>
		#nowickcontentpanel()
		#if ($user)
			#nowickfootermenu()
		#end
	</body>
</html>