<!DOCTYPE html> 
<html>
	<head>
		<title>Nowick Base Template</title>
		#nowickincludes() 
	</head>
	<body>
	#parse("templates/header.vm")
	<div class="content">
		<div class="content editable">
		#parse($templates.get("index"))
		</div>
	</div>
	<div class="content editable">
		#parse($templates.get("index"))
		<pre>
			I'm a pre and so I can dod whatever I want.	Blah.
		</pre>
	</div>
	</body>
</html>